.first_box {
    display: flex;
    justify-content: left;
    margin-left: 20px;
}

.allboxes {
    border: 5px solid rgb(239, 193, 78);
    width: 90px;
    height: 90px;
    /* background: pink; */
    margin-bottom: 13px;
    margin-top: 6px;
    margin-right: 40px;
    border-radius: 1000px;
}

.text_box {
    display: flex;

    justify-content: left;
    margin-left: 20px;
}

.textBoxes {
    margin-bottom: 13px;
    /* margin-top: 0px; */
    margin-right: 57px;
    font-size: 24px;
}

@media only screen and (max-width: 897px) and (min-width: 645px) {
    .allboxes {
        border: 5px solid rgb(239, 193, 78);
        width: 90px;
        height: 90px;
        /* background: pink; */
        margin-bottom: 13px;
        margin-top: 6px;
        margin-right: 3px;
        border-radius: 1000px;
    }

    .textBoxes {
        margin-bottom: 13px;
        /* margin-top: 0px; */
        margin-right: 40px;
        font-size: 18px;
    }
    
 #preloader{
    background:rgb(255, 255, 255) url(/realPreloader.gif) no-repeat center center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 853;
    background-size:15%;
 }
}

@media(max-width:450px) and (min-width:397px) {
    .allboxes {
        border: 2px solid rgb(239, 193, 78);
        width: 37px;
        height: 37px;
        /* background: pink; */
        margin-bottom: 13px;
        margin-top: 6px;
        margin-right: 17px;
        border-radius: 1000px;
    }
    
 #preloader{
    background:rgb(255, 255, 255) url(/realPreloader.gif) no-repeat center center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 853;
    background-size:15%;
 }
    .bacchaCare {
        background: url(https://source.unsplash.com/random/37x37/?mother);
    }
    
    .sharirWash {
        background: url(https://source.unsplash.com/random/37x37/?shower);
    }
    
    .deoAurPerfumes {
        background: url(https://source.unsplash.com/random/37x37/?perfumes);
    }
    
    .balCare {
        background: url(https://source.unsplash.com/random/37x37/?hairs);
    }
    
    .chehraUp {
        background: url(https://source.unsplash.com/random/37x37/?makeup);
    }
    
    .khudkiCare {
        background: url(https://source.unsplash.com/random/37x37/?skin);
    }
    
    .twachaCare {
        background: url(https://source.unsplash.com/random/37x37/?bodycare);
    }
    
    .powder {
        background: url(https://source.unsplash.com/random/37x37/?talc);
    }
    .textBoxes {
        margin-bottom: 13px;
        /* margin-top: 0px; */
        margin-right: 27px;
        font-size: 9px;
    }
}
@media(max-width:396px) and (min-width:300px) {
    .allboxes {
        border: 2px solid rgb(239, 193, 78);
        width: 37px;
        height: 37px;
        /* background: pink; */
        margin-bottom: 13px;
        margin-top: 6px;
        margin-right: 6px;
        border-radius: 1000px;
    }
    
 #preloader{
    background:rgb(255, 255, 255) url(/realPreloader.gif) no-repeat center center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 853;
    background-size:15%;
 }

    .textBoxes {
        margin-bottom: 13px;
        /* margin-top: 0px; */
        margin-right: 22px;
        font-size: 7px;
    }
    .bacchaCare {
        background: url(https://source.unsplash.com/random/37x37/?mother);
    }
    
    .sharirWash {
        background: url(https://source.unsplash.com/random/37x37/?shower);
    }
    
    .deoAurPerfumes {
        background: url(https://source.unsplash.com/random/37x37/?perfumes);
    }
    
    .balCare {
        background: url(https://source.unsplash.com/random/37x37/?hairs);
    }
    
    .chehraUp {
        background: url(https://source.unsplash.com/random/37x37/?makeup);
    }
    
    .khudkiCare {
        background: url(https://source.unsplash.com/random/37x37/?skincare);
    }
    
    .twachaCare {
        background: url(https://source.unsplash.com/random/37x37/?skincare);
    }
    
    .powder {
        background: url(https://source.unsplash.com/random/37x37/?talc);
    }
}

.bacchaCare {
    background: url(https://source.unsplash.com/random/90x90/?mother);
}

.sharirWash {
    background: url(https://source.unsplash.com/random/90x90/?shower);
}

.deoAurPerfumes {
    background: url(https://source.unsplash.com/random/90x90/?perfumes);
}

.balCare {
    background: url(https://source.unsplash.com/random/90x90/?hairs);
}

.chehraUp {
    background: url(https://source.unsplash.com/random/90x90/?makeup);
}

.khudkiCare {
    background: url(https://source.unsplash.com/random/90x90/?skin);
}

.twachaCare {
    background: url(https://source.unsplash.com/random/90x90/?bodycare);
}

.powder {
    background: url(https://source.unsplash.com/random/90x90/?talc);
}